{% extends "base.html" %}

{% block title %}Forum Threads{% endblock %}

{% block content %}
  <h1>Discussion Threads</h1>
  <ul>
    {% for thread in object_list %}
      <li class="thread">
        <h3><a href="{% url 'forum:thread-detail' thread.pk %}">{{ thread.title }}</a></h3>
        <small>Started by {{ thread.author }} on {{ thread.created_at|date:"M d, Y" }}</small>
      </li>
    {% empty %}
      <li>No threads yet. Be the first to start one!</li>
    {% endfor %}
  </ul>
  <p><a href="{% url 'forum:create-thread' %}">➕ Create New Thread</a></p>
{% endblock %}   
 